In [58]:
import pyarrow.parquet as pa
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# Q1. Downloading the data

We'll use the same NYC taxi dataset, but instead of "Green Taxi Trip Records", we'll use "Yellow Taxi Trip Records".

Download the data for January and February 2023.

Read the data for January. How many columns are there? 19

In [8]:
yellow_taxi_jan = pa.read_table('yellow_tripdata_2024-02.parquet')
yellow_taxi_jan

pyarrow.Table
VendorID: int32
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: int64
trip_distance: double
RatecodeID: int64
store_and_fwd_flag: large_string
PULocationID: int32
DOLocationID: int32
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
Airport_fee: double
----
VendorID: [[2,2,2,1,1,...,2,2,2,2,2],[2,2,2,2,2,...,2,1,2,1,1],...,[2,2,2,2,2,...,2,2,2,2,2],[2,2,2,2,1,...,2,2,2,1,2]]
tpep_pickup_datetime: [[2024-02-01 00:04:45.000000,2024-02-01 00:56:31.000000,2024-02-01 00:07:50.000000,2024-02-01 00:01:49.000000,2024-02-01 00:37:35.000000,...,2024-02-02 11:11:06.000000,2024-02-02 11:22:31.000000,2024-02-02 11:57:25.000000,2024-02-02 11:57:25.000000,2024-02-02 10:56:04.000000],[2024-02-02 11:16:53.000000,2024-02-02 11:34:05.000000,2024-02-02 11:49:58.000000,2024-02-02 11:09:35.000000,2024-02-02 11:19:18.000000,...,2024-02-03 16:53:41.000000,2024-02-03 16:54:38.000000,2024-02-03 16:36:42.000000,2024-02-03 16:21:35.000000,2024-02-03 16:49:26.000000],...,[2024-02-29 14:41:39.000000,2024-02-29 14:20:29.000000,2024-02-29 14:32:59.000000,2024-02-29 14:50:26.000000,2024-02-29 14:57:22.000000,...,2024-02-14 19:10:02.000000,2024-02-14 19:14:02.000000,2024-02-14 19:16:06.000000,2024-02-14 19:00:32.000000,2024-02-14 19:11:24.000000],[2024-02-14 19:53:00.000000,2024-02-14 19:05:55.000000,2024-02-14 19:20:47.000000,2024-02-14 19:10:00.000000,2024-02-14 19:43:53.000000,...,2024-02-29 23:20:17.000000,2024-02-29 23:38:37.000000,2024-02-29 23:14:40.000000,2024-02-29 23:12:06.000000,2024-02-29 23:16:42.000000]]
tpep_dropoff_datetime: [[2024-02-01 00:19:58.000000,2024-02-01 01:10:53.000000,2024-02-01 00:43:12.000000,2024-02-01 00:10:47.000000,2024-02-01 00:51:15.000000,...,2024-02-02 11:14:54.000000,2024-02-02 11:35:19.000000,2024-02-02 12:12:25.000000,2024-02-02 12:12:25.000000,2024-02-02 11:12:45.000000],[2024-02-02 11:29:33.000000,2024-02-02 11:47:46.000000,2024-02-02 12:05:32.000000,2024-02-02 11:48:23.000000,2024-02-02 11:29:10.000000,...,2024-02-03 17:38:48.000000,2024-02-03 17:04:40.000000,2024-02-03 16:42:05.000000,2024-02-03 16:34:54.000000,2024-02-03 17:20:51.000000],...,[2024-02-29 15:14:05.000000,2024-02-29 14:28:41.000000,2024-02-29 14:43:22.000000,2024-02-29 15:07:41.000000,2024-02-29 15:24:36.000000,...,2024-02-14 19:22:05.000000,2024-02-14 19:31:25.000000,2024-02-14 19:24:01.000000,2024-02-14 19:23:25.000000,2024-02-14 19:19:41.000000],[2024-02-14 20:26:00.000000,2024-02-14 19:19:55.000000,2024-02-14 20:16:12.000000,2024-02-14 19:25:00.000000,2024-02-14 19:55:07.000000,...,2024-02-29 23:28:25.000000,2024-02-29 23:49:37.000000,2024-02-29 23:19:29.000000,2024-02-29 23:21:53.000000,2024-02-29 23:37:45.000000]]
passenger_count: [[1,1,2,1,1,...,1,1,1,1,1],[1,1,1,6,2,...,1,1,2,2,1],...,[1,5,5,5,1,...,null,null,null,null,null],[null,null,null,null,null,...,null,null,null,null,null]]
trip_distance: [[4.39,7.71,28.69,1.1,2.6,...,0.67,2.05,2.13,2.13,2.28],[0.91,1.84,1.55,16.61,0.98,...,5.76,1.5,1,2.4,5.5],...,[8.01,0.87,0.7,1.67,8.05,...,2.14,2.49,1.17,0,0.94],[5.62,1.88,21.22,2.6,1.3,...,0.35,1.99,0.84,0,3.94]]
RatecodeID: [[1,1,2,1,1,...,1,1,1,1,1],[1,1,1,2,1,...,1,1,1,1,1],...,[1,1,1,1,1,...,null,null,null,null,null],[null,null,null,null,null,...,null,null,null,null,null]]
store_and_fwd_flag: [["N","N","N","N","N",...,"N","N","N","N","N"],["N","N","N","N","N",...,"N","N","N","N","N"],...,["N","N","N","N","N",...,null,null,null,null,null],[null,null,null,null,null,...,null,null,null,null,null]]
PULocationID: [[68,48,132,161,246,...,151,238,238,238,239],[237,237,43,233,186,...,234,148,233,239,163],...,[233,161,43,230,70,...,229,229,236,107,113],[232,107,246,246,137,...,164,249,113,164,79]]
DOLocationID: [[236,243,261,163,79,...,24,237,237,237,162],[236,43,237,132,164,...,40,234,162,141,231],...,[95,237,163,141,256,...,236,79,141,48,211],[37,231,265,48,79,...,170,45,249,107,142]]
payment_type: [[1,1,2,1,2,...,2,1,2,2,1],[1,1,1,1,1,...,1,1,1,1,1],...,[1,1,1,2,2,...,0,0,0,0,0],[0,0,0,0,0,...,0,0,0,0,0]]
...

In [4]:
yellow_taxi_feb = pa.read_table('yellow_tripdata_2024-01.parquet')
yellow_taxi_feb.shape

(2964624, 19)

In [22]:
yellow_taxi_jan_df = yellow_taxi_jan.to_pandas()
yellow_taxi_jan_df.head().T
#yellow_taxi_jan.shape

,0,1,2,3,4
VendorID,2,2,2,1,1
tpep_pickup_datetime,2024-02-01 00:04:45,2024-02-01 00:56:31,2024-02-01 00:07:50,2024-02-01 00:01:49,2024-02-01 00:37:35
tpep_dropoff_datetime,2024-02-01 00:19:58,2024-02-01 01:10:53,2024-02-01 00:43:12,2024-02-01 00:10:47,2024-02-01 00:51:15
passenger_count,1.0,1.0,2.0,1.0,1.0
trip_distance,4.39,7.71,28.69,1.1,2.6
RatecodeID,1.0,1.0,2.0,1.0,1.0
store_and_fwd_flag,N,N,N,N,N
PULocationID,68,48,132,161,246
DOLocationID,236,243,261,163,79
payment_type,1,1,2,1,2
fare_amount,20.5,31.0,70.0,9.3,15.6
extra,1.0,1.0,0.0,3.5,3.5
mta_tax,0.5,0.5,0.5,0.5,0.5
tip_amount,1.28,9.0,0.0,2.85,0.0
tolls_amount,0.0,0.0,6.94,0.0,0.0
improvement_surcharge,1.0,1.0,1.0,1.0,1.0
total_amount,26.78,45.0,82.69,17.15,20.6
congestion_surcharge,2.5,2.5,2.5,2.5,2.5
Airport_fee,0.0,0.0,1.75,0.0,0.0

In [29]:
yellow_taxi_feb_df = yellow_taxi_feb.to_pandas()
yellow_taxi_feb_df
#yellow_taxi_feb_df.shape

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.70,1.00,0.5,0.00,0.00,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.00,3.50,0.5,3.75,0.00,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.30,3.50,0.5,3.00,0.00,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.00,3.50,0.5,2.00,0.00,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.90,3.50,0.5,3.20,0.00,1.0,16.10,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2964619,2,2024-01-31 23:45:59,2024-01-31 23:54:36,NaN,3.18,NaN,None,107,263,0,15.77,0.00,0.5,2.00,0.00,1.0,21.77,NaN,NaN
2964620,1,2024-01-31 23:13:07,2024-01-31 23:27:52,NaN,4.00,NaN,None,114,236,0,18.40,1.00,0.5,2.34,0.00,1.0,25.74,NaN,NaN
2964621,2,2024-01-31 23:19:00,2024-01-31 23:38:00,NaN,3.33,NaN,None,211,25,0,19.97,0.00,0.5,0.00,0.00,1.0,23.97,NaN,NaN
2964622,2,2024-01-31 23:07:23,2024-01-31 23:25:14,NaN,3.06,NaN,None,107,13,0,23.88,0.00,0.5,5.58,0.00,1.0,33.46,NaN,NaN
2964623,1,2024-01-31 23:58:25,2024-02-01 00:13:30,NaN,8.10,NaN,None,138,75,0,32.40,7.75,0.5,7.29,6.94,1.0,55.88,NaN,NaN

# Q2. Computing duration

Now let's compute the duration variable. It should contain the duration of a ride in minutes.

What's the standard deviation of the trips duration in January?34.17

In [41]:
yellow_taxi_jan_df['duration'] = yellow_taxi_jan_df['tpep_dropoff_datetime'] - yellow_taxi_jan_df['tpep_pickup_datetime']
yellow_taxi_jan_df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,duration
0,2,2024-02-01 00:04:45,2024-02-01 00:19:58,1.0,4.39,1.0,N,68,236,1,20.50,1.0,0.5,1.28,0.00,1.0,26.78,2.5,0.00,0 days 00:15:13
1,2,2024-02-01 00:56:31,2024-02-01 01:10:53,1.0,7.71,1.0,N,48,243,1,31.00,1.0,0.5,9.00,0.00,1.0,45.00,2.5,0.00,0 days 00:14:22
2,2,2024-02-01 00:07:50,2024-02-01 00:43:12,2.0,28.69,2.0,N,132,261,2,70.00,0.0,0.5,0.00,6.94,1.0,82.69,2.5,1.75,0 days 00:35:22
3,1,2024-02-01 00:01:49,2024-02-01 00:10:47,1.0,1.10,1.0,N,161,163,1,9.30,3.5,0.5,2.85,0.00,1.0,17.15,2.5,0.00,0 days 00:08:58
4,1,2024-02-01 00:37:35,2024-02-01 00:51:15,1.0,2.60,1.0,N,246,79,2,15.60,3.5,0.5,0.00,0.00,1.0,20.60,2.5,0.00,0 days 00:13:40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3007521,2,2024-02-29 23:20:17,2024-02-29 23:28:25,NaN,0.35,NaN,None,164,170,0,21.02,0.0,0.5,0.00,0.00,1.0,25.02,NaN,NaN,0 days 00:08:08
3007522,2,2024-02-29 23:38:37,2024-02-29 23:49:37,NaN,1.99,NaN,None,249,45,0,18.78,0.0,0.5,0.00,0.00,1.0,22.78,NaN,NaN,0 days 00:11:00
3007523,2,2024-02-29 23:14:40,2024-02-29 23:19:29,NaN,0.84,NaN,None,113,249,0,8.82,0.0,0.5,0.00,0.00,1.0,12.82,NaN,NaN,0 days 00:04:49
3007524,1,2024-02-29 23:12:06,2024-02-29 23:21:53,NaN,0.00,NaN,None,164,107,0,14.37,0.0,0.5,0.00,0.00,1.0,18.37,NaN,NaN,0 days 00:09:47
3007525,2,2024-02-29 23:16:42,2024-02-29 23:37:45,NaN,3.94,NaN,None,79,142,0,28.60,0.0,0.5,0.00,0.00,1.0,32.60,NaN,NaN,0 days 00:21:03

In [39]:
yellow_taxi_jan_df['duration'] .std()

Timedelta('0 days 00:34:17.372908')

# Q3. Dropping outliers

Next, we need to check the distribution of the duration variable. There are some outliers. Let's remove them and keep only the records where the duration was between 1 and 60 minutes (inclusive).

What fraction of the records left after you dropped the outliers?99

In [96]:
yellow_taxi_feb_df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'Airport_fee'],
      dtype='object')

In [106]:

# Join using aliases
yellow_taxi_feb_and_jan = pd.concat([yellow_taxi_jan_df, yellow_taxi_feb_df], axis=0)

print(yellow_taxi_feb_and_jan.head())

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2  2024-02-01 00:04:45   2024-02-01 00:19:58              1.0
1         2  2024-02-01 00:56:31   2024-02-01 01:10:53              1.0
2         2  2024-02-01 00:07:50   2024-02-01 00:43:12              2.0
3         1  2024-02-01 00:01:49   2024-02-01 00:10:47              1.0
4         1  2024-02-01 00:37:35   2024-02-01 00:51:15              1.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           4.39         1.0                  N            68           236
1           7.71         1.0                  N            48           243
2          28.69         2.0                  N           132           261
3           1.10         1.0                  N           161           163
4           2.60         1.0                  N           246            79

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             1         20.5    1.0      0.5        1.28          0.00
1             1         31.0    1.0      0.5        9.00          0.00
2             2         70.0    0.0      0.5        0.00          6.94
3             1          9.3    3.5      0.5        2.85          0.00
4             2         15.6    3.5      0.5        0.00          0.00

   improvement_surcharge  total_amount  congestion_surcharge  Airport_fee  \
0                    1.0         26.78                   2.5         0.00
1                    1.0         45.00                   2.5         0.00
2                    1.0         82.69                   2.5         1.75
3                    1.0         17.15                   2.5         0.00
4                    1.0         20.60                   2.5         0.00

         duration
0 0 days 00:15:13
1 0 days 00:14:22
2 0 days 00:35:22
3 0 days 00:08:58
4 0 days 00:13:40

In [100]:
def remove_duration_outliers(df, column, lower_bound=1, upper_bound=60):
  """
  Removes outliers from a DataFrame's 'duration' column and calculates the fraction remaining.

  Args:
      df (pandas.DataFrame): The DataFrame containing the 'datetime' and 'duration' columns.
      column (str): The name of the column containing the duration values (e.g., 'duration').
      lower_bound (int, optional): The minimum duration to keep in minutes (inclusive). Defaults to 1.
      upper_bound (int, optional): The maximum duration to keep in minutes (inclusive). Defaults to 60.

  Returns:
      pandas.DataFrame: The DataFrame with outliers removed.
      float: The fraction of records remaining after outlier removal.
  """

  # Convert timedelta to minutes before comparison
  df[column] = df[column] / pd.Timedelta(minutes=1)

  # Filter based on duration bounds (now in minutes)
  filtered_df = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

  # Calculate fraction of remaining records
  fraction_remaining = len(filtered_df) / len(df)

  return filtered_df, fraction_remaining

# Example usage (assuming yellow_taxi_jan_df has datetime and duration columns)
result_df, fraction_remaining = remove_duration_outliers(yellow_taxi_jan_and_feb.copy(), 'duration')

print("Resulting DataFrame after removing outliers:\n", result_df)
print(f"Fraction of records remaining: {fraction_remaining:.2f}")

Resulting DataFrame after removing outliers:
          VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0               2  2024-02-01 00:04:45   2024-02-01 00:19:58              1.0
1               2  2024-02-01 00:56:31   2024-02-01 01:10:53              1.0
2               2  2024-02-01 00:07:50   2024-02-01 00:43:12              2.0
3               1  2024-02-01 00:01:49   2024-02-01 00:10:47              1.0
4               1  2024-02-01 00:37:35   2024-02-01 00:51:15              1.0
...           ...                  ...                   ...              ...
3007521         2  2024-02-29 23:20:17   2024-02-29 23:28:25              NaN
3007522         2  2024-02-29 23:38:37   2024-02-29 23:49:37              NaN
3007523         2  2024-02-29 23:14:40   2024-02-29 23:19:29              NaN
3007524         1  2024-02-29 23:12:06   2024-02-29 23:21:53              NaN
3007525         2  2024-02-29 23:16:42   2024-02-29 23:37:45              NaN

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
0                 4.39         1.0                  N            68
1                 7.71         1.0                  N            48
2                28.69         2.0                  N           132
3                 1.10         1.0                  N           161
4                 2.60         1.0                  N           246
...                ...         ...                ...           ...
3007521           0.35         NaN               None           164
3007522           1.99         NaN               None           249
3007523           0.84         NaN               None           113
3007524           0.00         NaN               None           164
3007525           3.94         NaN               None            79

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
0                 236             1        20.50    1.0      0.5        1.28
1                 243             1        31.00    1.0      0.5        9.00
2                 261             2        70.00    0.0      0.5        0.00
3                 163             1         9.30    3.5      0.5        2.85
4                  79             2        15.60    3.5      0.5        0.00
...               ...           ...          ...    ...      ...         ...
3007521           170             0        21.02    0.0      0.5        0.00
3007522            45             0        18.78    0.0      0.5        0.00
3007523           249             0         8.82    0.0      0.5        0.00
3007524           107             0        14.37    0.0      0.5        0.00
3007525           142             0        28.60    0.0      0.5        0.00

         tolls_amount  improvement_surcharge  total_amount  \
0                0.00                    1.0         26.78
1                0.00                    1.0         45.00
2                6.94                    1.0         82.69
3                0.00                    1.0         17.15
4                0.00                    1.0         20.60
...               ...                    ...           ...
3007521          0.00                    1.0         25.02
3007522          0.00                    1.0         22.78
3007523          0.00                    1.0         12.82
3007524          0.00                    1.0         18.37
3007525          0.00                    1.0         32.60

         congestion_surcharge  Airport_fee   duration
0                         2.5         0.00  15.216667
1                         2.5         0.00  14.366667
2                         2.5         1.75  35.366667
3                         2.5         0.00   8.966667
4                         2.5         0.00  13.666667
...                       ...          ...        ...
3007521                   NaN          NaN   8.133333
3007522                   NaN          NaN  11.000000
3007523                   NaN          NaN   4.816667
3007524                   NaN          NaN   9.783333
3007525                   NaN          NaN  21.050000

[2802997 rows x 20 columns]
Fraction of records remaining: 0.99

# Q4. One-hot encoding

Let's apply one-hot encoding to the pickup and dropoff location IDs. We'll use only these two features for our model.

    Turn the dataframe into a list of dictionaries (remember to re-cast the ids to strings - otherwise it will label encode them)
    Fit a dictionary vectorizer
    Get a feature matrix from it

What's the dimensionality of this matrix (number of columns)?

In [ ]:
print(yellow_taxi_jan_df.unique())
print(data['Remarks'].unique())